html{
    padding: 0;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family:'Tw Cen MT';
    opacity: 1;
    background-color: black;
}
body{
    padding: 0;
    margin: 0;
    opacity: 1;
    background-color: black;
    /* height: 100vh; */
}


/* _____________________________________________ */
/*                  NAV BAR                     */
#displayMenuLeft,#displayMenuRight{
    
    display: flex;
    height: 98%;
    font-size:2vw;
    font-weight: 900;
    transition: .3s ease;
    position: absolute;
    right: 1px;
    width: 3vw;
    align-items: center;
    justify-items: center;
    background: rgb(255, 207, 103);
    border:none;
    color:rgba(248, 68, 3, 0.913);
}
@media only screen and (min-width: 1600px) {
    #displayMenuLeft,#displayMenuRight{
        width: 2.5vw;
    }
}
#displayMenuRight span{
    padding-left: .5vw;
}
#displayMenuLeft span{
    margin-right: 1vw;
    text-align: center;
    padding-left: 0px;
    width: 3vw;
}

nav{
    width:0vw;
    height: 9vh;
    padding: 0;
    margin-left: 10vw;
    display: flex;
    position: fixed;
    right: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,rgb(0, 0, 0) 90%, rgb(0, 0, 0)100%);
    z-index: 1;
    opacity: 1;
    align-items: center;
    transition: .4s ease;
    justify-content: center;
   
   
}

#navigationBar {
    display: flex;
    height: 100%;
    width: 0vw;
    justify-content:space-evenly;
    align-items: center;
    opacity: 1;
    font-size: 3vh;
    padding: 0vh;
    animation: 1s appear;
    transition: .2s ease;
    overflow: hidden;
    right: 0vw;
}


.barLi{
    color:rgb(255, 207, 103);
    text-shadow: .1vh .05vh rgba(248, 68, 3, 0.913);
    list-style: none;
    text-decoration: none;
    padding: 0%;
    overflow: hidden;
}
.barLi:hover{
    cursor: pointer;
}


/*                  NAV BAR END                  */
/* _____________________________________________ */
#Presentation{
    /* margin: 0;
    padding: 0;
    height: 100vh; */
}
#PresentationBack{
    width: 100vw;
    height: 100vh;
    display: flex;
    background:url('./imgs/colorDust.jpeg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    /* object-fit: cover; */
    opacity: 1;
    margin: 0;
    padding: 0;
}

#overlay{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    color:rgb(255, 207, 103);
    text-shadow: .25vh .1vw rgba(248, 68, 3, 0.913);
    background: linear-gradient(0deg, rgb(0, 0, 0)0%, rgba(255, 255, 255, 0) 55%, rgba(254, 254, 254, 0)100%);
    opacity: 1;
    letter-spacing: .1vw;
    font-weight: bolder;
    /* margin: 0%;
    padding: 0%; */
}
#overlay {
    /* font-size: 9vh; */
    
    /* background: linear-gradient(100deg,#FA7A00, #FAD900,#ffffff);
    background-clip:text;
    -webkit-background-clip: text;
    box-shadow: 3px .1px black;
    color: transparent;*/
    opacity: 1; 
}

#overlay h1{
    position: absolute;
    top:68vh;
    font-size: 10vh;
    padding: 0%;
    margin: 0%;
    
}
#overlay h3{
    position: absolute;
    top: 80vh;
    font-size: 5vh;
    padding: 0%;
    margin: 0%;
    letter-spacing: .2vw;
}
/* ________________ABOUT ME _______________ */

#aboutMe{
    display: flex;
    height: 0vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 9vh;
    padding: 0;
    overflow: hidden;
    transition: .7s;
    padding: 0vh;

}
.aboutMePic{
    height: 20vh;
    width: 20vh;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.568);
    box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.709);
    background: #ffffff;
    transition: 0.7s;
    opacity: 1;
}
.aboutMePic:hover{
    width: 30vw;
    object-fit: cover;
    border-radius: 1.5vh;
    

}
#Chicago{
    position: absolute;
    left: 5vw;
    top:3vh;
}
#Bari{
    position: absolute;
    top: 3vh;
    right: 5vh;
    transition: .7s;
    
}
#me{
    position: absolute;
    z-index: 1;
    object-fit:scale-down;
    height: 15%;
    width:auto;
    border-radius: 3vh;

}
#infoAboutMe{
    display: flex;
    width: 66vw;
    height: 53vh;
    background: rgb(251, 251, 251);
    justify-self: center;
    align-self:flex-end;
    margin-left: 17vw;
    margin-right: 17vw;
    margin-bottom: 10vh;
    z-index: 1;
    border-radius: 1.5vh;
    border: 1px solid rgba(0, 0, 0, 0.568);
    box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.657);
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: .7s;
}
#aboutMeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh;
    text-align: justify;

    padding: 1vw;
}
#infoAboutMe:hover{
    box-shadow: 1px 1px 23px 5px rgb(255, 197, 72);

}

#aboutMeText h3{
    font-size:larger;
}
#aboutMeText span{
    align-self: center;
    /* background: blue; */
    margin-left: 35%;
}

#aboutMeText p{
    font-size: larger;
}


#Projects{
    display:flex;
    position: absolute;
    top: 9vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 0vh;
    transition: .7s;
    overflow: hidden;
    /* background: linear-gradient(0deg,#0D0D0D 0%,#D94141 22%,#F2600C 40%,#F2A922 60%,#0476D9 80%,rgba(255, 255, 255, 0) 100% ); */
    background: #ffffff;
}

.singleProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 0vw 2vw 0vw 0vw;
    width: 26vw;
    height: 35vh;
    border: 1px solid rgb(0, 0, 0, 0.413);
    border-radius: 1vh;
    box-shadow: -1px -1px 13px 5px rgba(0, 0, 0, 0.413);
    padding: 1.5vw;
    background: rgba(184, 184, 184, 0.187);
    

}

.singleProject img{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1vw;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.7s ease;
    overflow: hidden;
    object-fit: cover;
}
.singleProject p{
 display: flex;
 width: 90%;
 border: 1px solid white;
 color: white;
 bottom: 100%;
 background: black;
 height: 0;
 transition: 1s ease;
 overflow: hidden;
 font-size: 20px;
text-justify:distribute;

}

.singleProject:hover p{
    height: 110vh;
    padding: 15px;
}
.singleProject:hover img{
    height: 0;
}
.singleProject h4{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2.5vw;
    font-style: none;
    text-decoration: none;
    text-shadow: 1px 1px rgba(248, 68, 3, 0.913);
  
}
.singleProject h4:hover{
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(255, 207, 103);
}
.singleProject a{
    text-decoration: none;
    color: black;
}


footer{
    height:0vh ;
    overflow: hidden;
    width: 100vw;
    position: absolute;
    top: 110vh;
    color:rgb(255, 207, 103);
    display: flex;
    align-items: center;
    justify-content:center;
}
footer i{
    margin-left: 1vw;
    align-items: baseline;
}
footer ul{
    display: flex;
    list-style: none;
    width: 70vw;
    justify-content:space-between;
    margin-bottom:7vh;
}
footer ul a{
    font-style: none;
    text-decoration: none;
    color:rgb(255, 207, 103);
    font-size: 3vh;
    margin-right: 1vw;
   
}
footer ul a:hover{
    color: rgba(248, 68, 3, 0.913);
}

#Up{
    position: absolute;
    right: 10vw;
    font-family:'Tw Cen MT';
    background: none;
    border:2px solid rgb(255, 207, 103);
    color:rgb(255, 207, 103);
    width: 4vw;
    padding-top: .5vh;
    padding-bottom: .7vh;
    font-size: 2vw;
    text-align: center;
    justify-items: center;
    text-decoration: none;
}

#Up:hover{
    background: rgb(255, 207, 103);
    border: none;
    color: rgba(248, 68, 3, 0.913);
}



@media only screen and (min-width: 1500px) {
    #aboutMeText{
        padding: 6vw;
    }
    #aboutMeText h3{
        font-size: x-large;
    }
    #aboutMeText p{
        font-size:larger;
    }
    .singleProject{
       
        width: 16vw;
       
    }
    footer ul{
        justify-content:space-around;
    }
}
@media only screen and (min-width: 800px) {
    #aboutMeText{
        overflow: scroll;
        width: 60vw;
        justify-content: left;
    }
}
@media only screen and (max-width: 800px) {
    #overlay{
        background: none;
        opacity: 1;
    }
    #infoAboutMe{
        margin-left:5vw;
        margin-right:5vw;
        width: 90vw;
        height: 40vh;
        margin-bottom: 0%;
        align-self: center;
    }
    #aboutMeText{
        overflow: scroll;
        width: 60vw;
        justify-content: left;
        height: 35vh;
    }
    .aboutMePic:hover{
        width: 80%;
    }
    #Bari{
        position: absolute;
        bottom: 3vh;
        right: 5vh;
        top:75%;

        
    }
    .singleProject{
        width: 85vw;
    }

    #Projects{
        overflow:scroll;
    }
    .singleProject img{
        width: 70vw;
        margin-top: 1vh;
    }
    .singleProject{
        margin-top: 2vh;
    }

    .singleProject h4{
        font-size: 30px;
    }
    
    #overlay h1{
        font-size: 12vw;
        top: 50vh;
    }
    #overlay h3{
        font-size: 7vw;
        top: 60vh;
    }
    nav{
        background: black;
        max-width: 94vw;
        /* border-bottom: 2px solid rgb(255, 207, 103); */
        padding-bottom: 1vh;
        max-width: 90vw;
        
    }
    #navigationBar{
        margin-bottom: 3vh;
        justify-content: space-evenly;
        padding: 0%;
    }
    .barLi{
        font-size: 2vh;
        margin: 0;
    }
    #displayMenuLeft,#displayMenuRight{
        width: 10vw;
        font-size: 4vh;
        height: 11vh;
        border-bottom: 2px solid rgb(255, 207, 103);
        display: flex;
        
        
    }
   
    footer{
        height: 0vh;
        /* margin-bottom: 2vh; */
        
    }
    footer span{
        display: none;
    }
    #contacts ul{
        margin-left: 0;
        /* margin-bottom: 15vh; */
        justify-content:space-around;
        width: 100%;
        height: 4vh;
        font-size: 7vw;
        padding: 0;
        text-decoration: transparent;
    }
    #contacts ul i{
        font-size: larger;
    }
    #Up{
     display: none;
    }
}